
.full-container {
  background: #0000005C 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  text-align: center;
  background-color: black;
  width: 100%;
  padding-bottom:56.25%;
  overflow: hidden;
  position:relative;
  
}

.slider {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border:solid;
}

.slide-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #0000005C 0% 0% no-repeat padding-box;
  opacity: 0.6;

  object-fit:cover;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 1.67%;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity:0.2;
  transition-duration: 1s;
}

.right-arrow:hover{
  opacity:0.5;
  transition-duration: 1s;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 1.67%;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity:0.2;
  transition-duration: 1s;
}

.left-arrow:hover{
  opacity:0.5;
  transition-duration: 1s;
}

.slide {
  opacity: 0;
  transition: 3s ease;
}

.slide.active {
  opacity: 1;
}

.indicator-holder {
  position: absolute;
  width:fit-content;
  z-index: 10;
  bottom: 3%;
}

.indicator {
  position:relative;
  color: white;
  cursor: pointer;
  user-select: none;
  opacity:0.2;
  margin:4px;
}

.indicator:hover{
  opacity:0.5;
  transition-duration: 1s;
}

.indicator.active{
  opacity: 1;
}

.main-text {
  top: 38%;
  height: 7.13%;
  font: normal normal bold 65px/79px Helvetica;
  letter-spacing: 6.5px;
  color: #FFFFFF;
  opacity: 1;

  position: absolute;
  z-index: 10;
  right:0;
  left:0;
  margin:auto;
 }

.secondary-text {
  top: 48%;
  font: normal normal normal 32px/44px Helvetica;
  letter-spacing: 3.2px;
  color: #FFFFFF;
  opacity: 1;

  position: absolute;
  z-index: 10;
  right:0;
  left:0;
  margin:auto;
}

.main-button {
  top: 58.6%;
  left: 40.3%;
  width: 14.8%;
  height: 7.315%;
  background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
  border-radius: 15%/50%;
  opacity: 1;
  
  position: absolute;
  z-index:11;
  color: #fff;

  transition: 0.5s;

  cursor: pointer;
  user-select: none;
}

.main-button:hover{
  color: #000;
  background: white;
}

.main-button-text{
  text-align:center;
  font: normal normal bold 23px/28px Helvetica;
  letter-spacing: 2.3px;
  opacity: 1;
  color: inherit;

  vertical-align:middle;
  position:relative;
  top:30%;
  
}

.hamburger{
  color: white;
}

.hamburger.on{
  color: #D34848;
  transition-duration: 2s;
}

.hamburger-icon{
  top: 86px;
  left: 83px;
  width: 56px;
  height: 34px;
  opacity: 1;

  position:absolute;
  z-index:14;

  cursor: pointer;
  user-select: none;
  color: inherit
}

.hamburger-icon-bar{
  width: 56px;
  height: 6px;
  color: inherit;
  background-color: currentColor;
  margin-bottom: 6px;
}

.hamburger-icon-text{
  top: 76px;
  left: 177px;
  width: 235px;
  height: 56px;
  text-align: left;
  font: normal normal normal 48px/57px Helvetica;
  letter-spacing: 4.8px;
  color: inherit;
  opacity: 1;

  position:absolute;
  z-index:14;
}

.hamburger-bg{
  position: absolute;
  top:0;
  left:0;
  width:0%;
  height:0%;
  z-index:12;
  background-color: #D34848;
  border-radius: 50%;
  transition: 1.5s;
}

.hamburger-bg.on{
  width:5000px;
  height:5000px;
  top:-2500px;
  left:-2500px;
}

.hamburger-circ{
  position: absolute;
  top: -142px;
  left: -84px;
  width:0%;
  height:0%;
  z-index:13;
  background-color: black;
  border-radius: 50%;
  transition: 1.5s;
}

.hamburger-circ.on{
  top: -142px;
  left: -84px;
  width: 682px;
  height: 682px;
}

.hamburger-text-holder{
  position: absolute;
  top: 220px;
  left: 83px;
  z-index: 14;
  opacity: 0;
  transition: 1.5s ease-in-out;
}

.hamburger-text-holder.on{
  opacity: 1;
  top: 166px;
}

.hamburger-text{
  height: 56px;
  text-align: left;
  font: normal normal bold 47px/57px Helvetica;
  letter-spacing: 4.7px;
  color: white;
  opacity: 1;
  padding-bottom: 12px;
  transition: 0.1s;
}

.hamburger-text:hover{
  color:#D34848
}

.red-main-text{
  top: 39.91%;
  left: 9.58%;
  width: 773px;
  height: 88px;
  text-align: left;
  font: normal normal bold 74px/90px Helvetica;
  letter-spacing: 7.4px;
  color: #FFFFFF;
  opacity: 1;
  position: absolute;
  z-index:10;
  white-space: nowrap;
}

.red-secondary-text{
  top: 50.56%;
  left: 9.58%;
  width: 879px;
  height: 121px;
  text-align: left;
  font: normal normal normal 51px/61px Helvetica;
  letter-spacing: 5.1px;
  color: #0B0B0B;
  opacity: 1;
  position: absolute;
  z-index:10;
  white-space: nowrap;
}

.red-image-1{
  top:22.13%;
  left:61.82%;
  width:13.23%;
  height:36.76%;
  position: absolute;
  z-index:10;
}

.red-image-2{
  top:42.42%;
  left:78.60%;
  width:13.23%;
  height:36.76%;
  position: absolute;
  z-index:10;

}

.white-button{
  background-color: white;
}